<div class="container top-card">
  <div class="form">
    <h1>Edit <%= resource_name.to_s.humanize %> Profile</h1>
    <% if current_user.admin? %>
      <p class="font-italic font-size-10 center">(Admin)</p>
    <% end %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: false, autocomplete: "email" %>
      <%= f.label :email, { class: 'control-label' } %>
      <i class="bar"></i>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.text_field :first_name %>
      <%= f.label :first_name, { class: 'control-label' } %>
      <i class="bar"></i>
    </div>
    <div class="form-group">
      <%= f.text_field :last_name %>
      <%= f.label :last_name, { class: 'control-label' } %>
      <i class="bar"></i>
    </div>
    <div class="form-group">
      <%= f.text_field :company %>
      <%= f.label :company, { class: 'control-label' } %>
      <i class="bar"></i>
    </div>

    <div class="form-group">
      <%= f.text_field :work_phone %>
      <%= f.label :work_phone, { class: 'control-label' } %>
      <i class="bar"></i>
    </div>
    <div class="form-group">
      <%= f.text_field :cell_phone %>
      <%= f.label :cell_phone, { class: 'control-label' } %>
      <i class="bar"></i>
    </div>

    <div class="form-group">
      <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <%= f.label 'New Password', { class: 'control-label' } %>
      <i class="bar"></i>
      <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <%= f.label 'Confirm New Password', { class: 'control-label' } %>
      <i class="bar"></i>
    </div>

    <div class="form-group">
      <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
      <%= f.label :current_password, { class: 'control-label' } %>
      <i class="bar"></i>
    </div>

    <div class="button-container">
      <%= f.button "<span>Update</span>".html_safe, { class: 'button' } %>
    </div>
    <% end %>
  </div>

  <h3 class="center">Unhappy?</h3>
  <div class="button-container">
    <%= button_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button button-delete' do %>
      <span>Cancel Account</span>
    <% end %>
  </div>

  <%= link_to :back, class: "icon" do %>
    <i class="fa fa-arrow-left"> Back</i>
  <% end %>
</div>
