<div class="container top-card">
  <div class="form">
    <h1>Sign up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%= f.label :email, { class: 'control-label' } %>
        <i class="bar"></i>
      </div>

      <div class="form-group">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <%= f.label :password, { class: 'control-label' } %>
        <i class="bar"></i>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <%= f.label :password_confirmation, { class: 'control-label' } %>
        <i class="bar"></i>
      </div>

      <div class="form-group">
        <%= f.text_field :first_name %>
        <%= f.label :first_name, { class: 'control-label' } %>
        <i class="bar"></i>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name %>
        <%= f.label :last_name, { class: 'control-label' } %>
        <i class="bar"></i>
      </div>
      <div class="form-group">
        <%= f.text_field :company %>
        <%= f.label :company, { class: 'control-label' } %>
        <i class="bar"></i>
      </div>

      <div class="form-group">
        <%= f.text_field :rish_number %>
        <%= f.label :rish_number, { class: 'control-label' } %>
        <i class="bar"></i>
      </div>

      <div class="form-group">
        <%= f.text_field :work_phone %>
        <%= f.label :work_phone, { class: 'control-label' } %>
        <i class="bar"></i>
      </div>
      <div class="form-group">
        <%= f.text_field :cell_phone %>
        <%= f.label :cell_phone, { class: 'control-label' } %>
        <i class="bar"></i>
      </div>

      <div class="button-container">
        <%= f.button "<span>Sign Up</span>".html_safe, { class: 'button' } %>
      </div>
    <% end %>
  </div>
  <p>Already registered? <%= render "devise/shared/links" %></p>
</div>
