<div class="comment">
  <div class="commenter">
    <%= comment.user.email %>
    <% if current_user.admin? %>
      <em class="font-normal"> as admin </em>
    <% end %>
    said
  </div>
  <div class="comment-body">
    <%= comment.body %>
  </div>
  <div class="commented">
    on <%= comment.commented_on %>
  </div>
  <div class="control">
    <div>
      <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon icon-delete" do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>
</div>
