<%= form_with(model: [ @machine_record, @machine_record.comments.build ], local: true) do |form| %>
  <%= form.hidden_field :machine_record_id %>
  <div class="one-line-form">
    <div class="form-group one-line-field">
      <%= form.text_area :body, required: true %>
      <%= form.label :body, 'Comment', { class: 'control-label' } %>
      <i class="bar"></i>
    </div>
    <div class="one-line-submit">
      <%= form.button '', { class: 'icon icon-submit' } do %>
        <i class="fa fa-paper-plane icon-offset"></i>
      <% end %>
    </div>
  </div>
<% end %>
