<%= form_with(model: [ @machine_record, @machine_record.entries.build ], local: true) do |form| %>
  <%= form.hidden_field :machine_record_id %>
  <div class="form-group">
    <%= form.text_field :hours, required: true, :autocomplete => :off %>
    <%= form.label 'New Entry', { class: 'control-label' } %>
    <i class="bar"></i>
  </div>
  <div class="button-container">
    <%= form.button "<span>Submit Entry</span>".html_safe, { class: 'button' } %>
  </div>
<% end %>
