<%= form_with(model: machine_record, local: true) do |form| %>
  <% if machine_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(machine_record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% machine_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name %>
    <%= form.label :name, { class: 'control-label'} %>
    <i class="bar"></i>
  </div>

  <div class="form-group">
    <%= form.text_field :machine_number %>
    <%= form.label :machine_number, { class: 'control-label' } %>
    <i class="bar"></i>
  </div>

  <div class="form-group">
    <%= form.text_field :serial_number %>
    <%= form.label :serial_number, { class: 'control-label' } %>
    <i class="bar"></i>
  </div>

  <div class="button-container">
    <%= form.button "<span>Submit</span>".html_safe, { class: 'button' } %>
  </div>
<% end %>
