<div class="container top-card">
  <div class="form">
    <h1>Editing Machine Record</h1>
    <%= render 'form', machine_record: @machine_record %>
  </div>
  <%= link_to :back, class: "icon" do %>
    <i class="fa fa-arrow-left"> Back</i>
  <% end %>
</div>
