<div class="header">
  <div class="header-left">
    <% if current_user.admin? %>
      <p class="font-size-10 font-italic">Admin</p>
    <% end %>
    <h1 class="header-title"><%= current_user.name %></h1>
    <div class="header-detail">
      <p class="header-item"><%= current_user.company %></p>
    </div>
  </div>
  <div class="header-right">
    <h1 class="header-title"><%= current_user.machine_records.all.count %></h1>
    <div class="header-detail">
      <p class="header-item"><%= "Machine".pluralize(current_user.machine_records.all.count) %></p>
    </div>
  </div>
</div>
<div class="container">
  <h2>Machine Records</h2>
  <div class="index">
    <div class="col col-head">
      Name
    </div>
    <div class="col col-head">
      Serial
    </div>
    <div class="col col-head">
      Last PM
    </div>
    <div class="col col-control col-head">
      <% if current_user.admin? %>
        <div class="controls">

        </div>
        <div class="controls">

        </div>
      <% else %>
        <div class="controls"></div>
        <div class="controls"></div>
      <% end %>
    </div>

    <% if @machine_records.any? %>
      <% @machine_records.each do |machine_record| %>
        <div class="col">
          <%= link_to machine_record.name, machine_record %>
        </div>
        <div class="col">
          <%= machine_record.serial_number %>
        </div>
        <div class="col">
          <%= machine_record.last_pm_date_short %>
        </div>
        <div class="col-control">
          <% if current_user.admin? %>
            <div class="controls">
              <%= link_to edit_machine_record_path(machine_record), class: "icon icon-edit" do %>
                <i class="fa fa-edit"></i>
              <% end %>
            </div>
            <div class="controls">
              <%= link_to machine_record, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon icon-delete" do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          <% else %>
            <div class="controls"></div>
            <div class="controls"></div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>No machine records.</p>
    <% end %>
  </div>
</div>
