<div class="header">
  <div class="header-left">
    <h1 class="header-title"><%= @machine_record.name %></h1>
    <div class="header-detail">
      <p class="header-item">Serial #<%= @machine_record.serial_number %></p>
      <p class="header-item">Machine #<%= @machine_record.machine_number %></p>
      <p class="header-item font-italic font-size-10 margin-top-5">Last PM: <%= @machine_record.last_pm_date %></p>
    </div>
    <% if current_user.admin? %>
      <div class="header-detail padding-top-5">Owned by <%= @machine_record.user.name %></div>
      <div class="header-detail"><%= mail_to @machine_record.user.email, @machine_record.user.email, subject: "#{@machine_record.name} - ##{@machine_record.machine_number}" %></div>
      <div class="header-detail padding-y-5">Work: <%= link_to @machine_record.user.work_phone, "tel:#{@machine_record.user.work_phone}" %></div>
      <div class="header-detail padding-y-5">Cell: <%= link_to @machine_record.user.cell_phone, "tel:#{@machine_record.user.cell_phone}" %></div>
      <div class="header-detail header-controls">
        <%= link_to edit_machine_record_path(@machine_record), class: "icon icon-edit header-icon" do %>
          <i class="fa fa-edit"> EDIT </i>
        <% end %>
        <%= link_to @machine_record, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon icon-delete header-icon" do %>
          <i class="fa fa-trash"> DELETE </i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="header-right">
    <h1 class="header-title"><%= @machine_record.total_hours %></h1>
    <div class="header-detail">
      <p class=header-item><%= "Hour".pluralize(@machine_record.total_hours) %> Total</p>
    </div>
  </div>

</div>
<div class="container">
  <% if @machine_record.entries? %>
  <h3>Latest Entries</h3>
  <div class="entry entry-header">
    <div class="hours">
      <strong>Hours</strong>
    </div>
    <div class="submitted">
      <strong>Submitted</strong>
    </div>
  </div>
  <%= render @machine_record.recent_entries %>
  <% end %>
  <div class="entry">
    <%= render 'entries/form' %>
  </div>

  <% if @machine_record.pms? %>
  <h3>Recent Maintenance</h3>
  <div class="entry entry-header">
    <div class="hours">
      <strong>Description</strong>
    </div>
    <div class="submitted">
      <strong>Performed</strong>
    </div>
  </div>
  <%= render @machine_record.recent_pms %>
  <% end %>
  <div class="entry">
    <%= render 'preventative_maintenances/form' %>
  </div>

  <div class="comments">
    <h3>Comments</h3>
    <% if @machine_record.comments.any? %>
      <%= render @machine_record.comments.order('created_at DESC') %>
    <% else %>
      <p>No one has made a comment yet.</p><br />
    <% end %>
    <%= render 'comments/form' %>
  </div>










  <%= link_to machine_records_path, class: "icon" do %>
    <i class="fa fa-arrow-left"> Back</i>
  <% end %>
</div>
