<div class="container top-card">
  <div class="form">
    <h1>Forgot password?</h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%= f.label :email, { class: 'control-label' } %>
        <i class="bar"></i>
      </div>

      <div class="button-container">
        <%= f.button "<span>Reset Password</span>".html_safe, { class: 'button' } %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %> <br />
  </div>

</div>
