<div class="container top-card">
  <div class="form">
    <h1>Log in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%= f.label :email, { class: 'control-label' } %>
      <i class="bar"></i>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "current-password" %>
      <%= f.label :password, { class: 'control-label' } %>
      <i class="bar"></i>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %>
        <i class="helper"></i>Remember me
      </label>
    </div>
    <% end %>

    <div class="button-container">
      <%= f.button "<span>Log in</span>".html_safe, { class: 'button' } %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %><br />
  </div>
</div>
