<%= form_with(model: [ @machine_record, @machine_record.preventative_maintenances.build ], local: true) do |form| %>
  <%= form.hidden_field :machine_record_id %>
  <div class="form-group">
    <%= form.text_field :description, required: true, :autocomplete => :off %>
    <%= form.label "Maintenance description", { class: 'control-label' } %>
    <i class="bar"></i>
  </div>
  <div class="form-group">
    <%= form.date_field :date, required: true %>
    <%= form.label "Performed", { class: 'control-label' } %>
    <i class="bar"></i>
  </div>
  <div class="button-container">
    <%= form.button "<span>Submit PM</span>".html_safe, { class: 'button' } %>
  </div>
<% end %>
