.comments {
  background: whitesmoke;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 50px;
}

.comment {
  display: grid;
  grid-template-areas:
    "commenter commenter commenter"
    "comment comment control"
    "commented commented commented";
  grid-template-columns: 5fr 5fr 1fr;
  grid-row-gap: 5px;

  .commenter {
    grid-area: commenter;
    font-size: 14px;
    font-weight: bold;

  }

  .comment-body {
    grid-area: comment;
    font-size: 14px;

  }

  .control {
    grid-area: control;
    display: flex;
    flex-wrap: nowrap;
    align-self: center;

    div {
      padding: 0 15px;
    }
  }

  .commented {
    color: #888;
    grid-area: commented;
    font-style: italic;
    font-size: 10px;
    margin-bottom: 25px;

  }
}

.commented p {

}
