// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.entry {
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid lightgrey;

  form {
    width: 100%;
  }

}

.entry-header {
  border: none;
}
