.flash {
  position: fixed;
  top: 13px;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  z-index: 9999;
  pointer-events: none;

}

.flash-success {
  background: rgba(green, 0.5);
  border: 2px solid rgba(green, 0.8);
  border-radius: 5px;
  padding: 5px 10px;
  width: max-content;


}

.flash-alert {
  background: rgba(red, 0.5);
  border: 2px solid rgba(red, 0.8);
  border-radius: 5px;
  padding: 5px 10px;
  width: max-content;
}

.flash-info {
  background: rgba(lightgrey, 0.5);
  border: 2px solid rgba(lightgrey, 0.8);
  border-radius: 5px;
  padding: 5px 10px;
  width: max-content;
}
