.header {

  background: lightgrey;
  padding: 90px 20px 30px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  display: felx;
  justify-content: space-between;


  .header-title {
    text-align: left;
    margin-bottom: 10px;
  }

  .header-right {
    background: #fff;
    border-radius: 1px;
    border: 1px solid #eee;
    position: relative;
    padding: 7px;
    height: max-content;
  }
  .header-right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12),
                0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }

  .header-left {

  }

  .header-left .header-detail {
    margin-left: 5px;

    p {
      font-size: 16px;
    }

  }

  .header-right h1 {
    font-size: 1.3rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .header-detail {

    .header-item {
      margin: 0;
      padding: 0;
      font-size: .8rem;

    }
  }
}

.header-controls {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .header-icon {
    padding-right: 10px;

  }
}
