.font-italic {
  font-style: italic !important;
}

.font-bold {
  font-style: bold;
}

.font-normal {
  font-weight: normal  !important;
}

.font-size-10 {
  font-size: 10pt !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.center {
  display: flex;
  justify-content: center;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
