.index {
  display: grid;
  grid-template-columns: 3fr 1.75fr 1.25fr 60px;
  grid-row-gap: 15px;
  grid-column-gap: 5px;
  width: 100%;

  .col {

  }

  .col-head {
    font-weight: bold;
  }

  .col-control {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 100%;


    .controls {

    }
  }
}

.entries-container {

  .entries {
    display: flex;
    justify-content: space-between;
  }

  .entry-form {

  }
}
