html {
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0;
  min-height: 100vh;
}

.navbar {
  background-color: #222;
  display: grid;
  grid-template-columns: 50px auto;
  padding: 20px 15px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;


  .nav-home {


  }
  .nav-session {
    display: flex;
    justify-self: end;


  }
  .nav-icon {
    color: white;
    padding: 0px 15px;
    text-align: center;
    font-size: 20px;

  }

  .nav-icon-text {
    padding: 0;
    margin: 0;

  }
}
.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.container {
  padding: 1em 2em;
  max-width: 40rem;
  margin: 0 auto;

}


.top-card {
  padding-top: 80px;
}


.icon {
  color: #333;
}

.icon:hover {
  background: none;
  color: #888;

}

.icon-edit:hover {
  color: green;
  transition: all 0.2s ease-in;
}

.icon-delete:hover {
  color: red;
  transition: all 0.2s ease-in;
}

.icon-submit {
  font-size: 16px;

}

.icon-submit:hover {


}

.icon-offset {
  padding-right: 4px;
}
